body,
html {
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

:root {
    --bordersR: 20px;
}

.background {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.calc {
    border-radius: var(--bordersR);
    margin: 80px 0px;
    background-color: rgb(54, 63, 90);
    width: 400px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "eb eb eb eb"
      "cb cb cb p"
      "b1 b2 b3 s"
      "b4 b5 b6 m"
      "b7 b8 b9 d"
      "b0 b0 be be";
    gap: 15px;
    padding: 25px;
}

.btn {
    all: unset;
    border-radius: var(--bordersR);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(81, 74, 74);
    font-size: 45px;
    justify-self: stretch;
    padding: 10px;
    background-color:  rgb(211, 211, 211);
}

.btn:hover {
    background-color: rgb(171, 171, 171);
    transition: 0.2;
}


.equation-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--bordersR);
    font-size: 25px;
    grid-area: eb;
    background-color: rgb(110, 140, 215);
}

#clear {
    grid-area: cb;
    color: white;
    background-color: rgb(247, 97, 122);
}

#clear:hover {
    background-color: rgb(177, 37, 52);
}

/* Used for formatting operator buttons - no additional formatting at the momement */
.op {
    font-size: 50px;
}

#equals { 
    color: white;
    background-color: rgb(129, 214, 138);
    grid-area: be; 
}
#equals:hover { 
    background-color: rgb(79, 174, 98);
}
#plus { grid-area: p; }
#minus { grid-area: s; }
#multiply { grid-area: m; }
#divide { grid-area: d; }

#b0 { grid-area: b0; }
#b1 { grid-area: b1; }
#b2 { grid-area: b2; }
#b3 { grid-area: b3; }
#b4 { grid-area: b4; }
#b5 { grid-area: b5; }
#b6 { grid-area: b6; }
#b7 { grid-area: b7; }
#b8 { grid-area: b8; }
#b9 { grid-area: b9; }
